# Basic SYSTEMD service file for the Tibia Query Manager

[Unit]
Description=Tibia Query Manager
After=network.target
# Make sure we attempt to start services depending on the querymanager
# if we use start/stop instead of restart. It seems there is no way to
# automate this, although it would be desirable.
Wants=tibia-login.service tibia-game.service tibia-web.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=tibia-querymanager
Group=tibia-querymanager
ExecStart=/opt/tibia/querymanager/querymanager
WorkingDirectory=/opt/tibia/querymanager/
Restart=always
RestartSec=10
LimitCORE=infinity
StandardOutput=journal
StandardError=journal
SyslogIdentifier=%n
